<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="CONN" connectionString="Data Source=|DataDirectory|\MIOCO.sdf;Max Database Size=4000;"/>
  </connectionStrings>
</configuration>
