<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="CONN" connectionString="Data Source=|DataDirectory|\MIOCO.sdf;Max Database Size=4000;Persist Security Info=False;"/>
    <add name="FilePath" connectionString="|DataDirectory|\MIOCO.sdf"/>
    <add name="BackupFilePath" connectionString="|DataDirectory|\MIOCO.sdf"/>
  </connectionStrings>
</configuration>
